@charset "utf-8";
@import "~sass/variables";
@import "~bourbon/core/bourbon";
@import "~sass/bootstrap-custom";

body, html {
    background-color: $bg-color;
    font-family: $font-stack-verdana;
    color: $text-default-color;
}
